.consec4furn{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.consec4furn .session15{
    width: 400px;
    height: 310px;
    transition: 1s;
    position: relative;
    overflow: hidden;
    background-color: red;
}
.consec4furn .session19{
    width: 590px;
    height: 310px;
    transition: 1s;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.consec4furn .session15 img{
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}
.consec4furn .session19 img{
    transition: all 0.3s ease-in-out;
    width:100%;
}
.consec4furn .session15 .conslide1{
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 99;
}
.consec4furn .session19 .conslide2{
    position: absolute;
    margin-top: 90px;
    margin-left: 30px;
    z-index: 99;
}
.consec4furn .session15 .imgeshop  :hover {
    transform: scale(1.06);
}
.consec4furn .session19 .imgeshop :hover  {
    transform: scale(1.06);
}
.bn40 {
    border-radius: 4px;
    font-weight: 600;
    font-size: large;
    padding: 4px 6px;
    color: #fff !important;
    cursor: pointer;
  }
  
  .bn40::after {
    max-width: 100%;
    height: 2px;
    display: block;
    content: "";
    background: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
    opacity: 1;
    margin-bottom: -6px;
    margin-top: 1px;
  }
  
  .bn40div {
    display: flex;
  }