footer{
    background-color: rgb(48, 43, 43);
    width: 100%;
    height: 80vh;
}
footer .confooterup{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.datap{
    padding: 10px;
}
.footerslide1 .iconsmedia  {
   display: flex;
   gap: 5px;
   margin-left: 10px;
}
.footerslide1 p {
    margin-left: 5px; 
    color: white;  
}

.footerslide1 img{
    margin-top: -50px;
    
}
.footerslide2 , .footerslide3 , .footerslide4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footerslide2 h3 , .footerslide3 h3 , .footerslide4 h3{
    color: white;
}
.footerslide2 ul, .footerslide3 ul ,.footerslide4 ul {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.footerslide2 ul li, .footerslide3 ul li ,.footerslide4 ul li{
    color: white;
}
.footerslide5 {
display: flex;
flex-direction: column;
gap: 10px;
}
.footerslide5 h2{
    color: white;
}
.footerslide5 h4 {
    color: white;
}
.active{
    color: white;
}
.active :hover{
    color: red;
}

footer .linefooter{
    width: 100%;
    height:0.1px ;
    background-color: rgb(153, 140, 140);
}
footer .footerdown{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
footer .footerdown  h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
footer .footerdown ul{
    display: flex;
    justify-content: center;
    align-items: center;
}